MONGO_URI="mongodb://localhost:27017"
MONGO_DB_NAME="crafty_cakes_db"
AUTH_JWT_SECRET="<YourAuthSecret>"
ACCESS_JWT_SECRET="<YourSSecret>"
PORT=8800

ADMIN_USER="example@gmail.com"
ADMIN_PASSWORD="example@123"

MAILER_MAIL="example@gmail.com"
MAILER_PASSWORD="dxxx xxx xxx"